# Data Science Tools and Ecosystem

# In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

- List popular languages for Data Science.
- Introduce common open-source development environment tools.
- Provide an overview of evaluating arithmetic expressions in Python.

# Some of the popular languages that Data Scientists use are:

1. Python
2. Julia
3. Scala
4. R

# Some of the commonly used libraries used by Data Scientists include:
1. Numpy
2. Pandas
3. Matplotlib
4. Scikit Learn

| Data Science Tools |
| ------------------ |
| Jupyter Notebook |
| RStudio |
| Visual Studio Code |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
(3*4)+5
#This a simple arithmetic expression to mutiply then add integers

17

In [2]:
200/60
# This will convert 200 minutes to hours by diving by 60

3.3333333333333335

## Seelam Moni Aravind